.input-wrapper {
  position: relative;
}

.input {
  padding: 14px 18px;
  width: 100%;
  color: rgb(var(--color-gray));
  font-size: 13px;
  border: none;
  border-radius: 50px;
  background-color: rgb(var(--color-black));
  font-family: var(--app-font-borda);
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--color-gray);
}
